body {
	background-color: rgb(52,152,219);
	font-family: "proxima-nova",sans-serif;
	color: white;
	padding: 3em 0 0 0;

/*	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-grow: 1;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: center;
	flex-direction: row;*/
}

h1 {
	font-family: "grafolita-script";
	text-align: center;
	font-size: 6.25em;
}

h2 {
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 0.6px;
}

a {
	text-align: center;
}
