<section id="choose" class="flexbox-item">
	<header class="flexbox-item">
		<h2>Choose your gesture:</h2>
	</header>
	<main class="flexbox-item">
		<form action="/result" method="POST">
			<button name="choose" value="Rock">Rock</button>
			<button name="choose" value="Paper">Paper</button>
			<button name="choose" value="Scissors">Scissors</button>
</form>
	</main>
</section>