<!DOCTYPE html>
<html>
  <head>
    <title>Rock &#39;n&#39; Swing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reset -->
    <link href="../css/style.css" rel="stylesheet" media="screen">
    <script src="//use.typekit.net/gjy5lgt.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
  <header class="flexbox-item">
    <h1>Rock &#39;n&#39; Swing</h1>
    <h2>a game of rock, paper, scissors</h2>
  </header>
    <%= yield %>
  </body>
</html>