<section id="register" class="flexbox-item">
	<main class="flexbox-item">
		<form action="/choose" method="post">
			<input type="text" name="username" placeholder="Your name">
			<button type="submit">Submit!</button>
		</form>
	</main>
</section>