<section id="result" class="flexbox-item">
	<header class="flexbox-item">
		<h2>Bo!...</h2>
	</header>
	<main class="flexbox-item">
		<h2>Congratulations, you crushed it – </h2>
		<h2><%= @username %>, you are an animal!</h2>
		<form  name="playagain" action="/choose" method="get">
			<button>Play Again!</button>
		</form>
	</main>
</section>